---
---

//Code Highlighting

@import 'syntax-highlighting';

figure.highlight{
  margin: 1em 10px;
}

//Impossible 

del {
  color: red;
}

span.done {
  color: #268BD2;
}

// Images
img{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100%;
  height:auto;
}

// Post
.article-wrapper{
  
  margin-top: 20px;
  padding: 0px 20px;

  .feature-image{
    margin:0;
    width:100%;
    img{
      border-radius: 0px;
    }
  }
  
  article{
    padding: 20px;

    .post-meta{
      font-style: italic;
      font-size: 0.75em;
    }

  }

}

figcaption{
  font-style: italic;
  font-size: 0.75em;
}

.post{
  ul{
    padding-left: 30px;
    list-style-type: disc !important;
    li{
      list-style-type: circle;
    }
  }
}

// blockquote{
//   border-left: 5px solid #2196F3;
// }

iframe{
  max-width:100%;
  height:auto;
}

// General Blog 

footer.page-footer{
  padding-top: 0px;
}

.blog-body{
  background-image: url("images/overlay.png"), url("../../images/bg.jpg");
  background-repeat: repeat,  no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left,  center center,  bottom center;
  background-attachment: fixed, fixed, fixed;
}



