---
---

@import 'syntax-highlighting';

#main{
  .avatar{
    img{
      width:40%;
    }
  }
}

.brand-logo{
  font-weight: 200;
}

del {
  color: red;
}

span.done {
  color: #268BD2;
}

img{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 100%;
}

.article-wrapper{
  
  margin-top: 20px;

  .feature-image{
    margin:0;
    width:100%;
    img{
      border-radius: 0px;
    }
  }
  
  article{
    padding: 20px 50px 20px 50px;

    .post-meta{
      font-style: italic;
      font-size: 0.75em;
    }

  }

}

figcaption{
  font-style: italic;
  font-size: 0.75em;
}



footer.page-footer{
  padding-top: 0px;
}


h2{
  font-size: 3.0rem;
}

h3{
  font-size: 2.5rem;
}

figure.highlight{
  margin: 1em 10px;
}

.post{
  ul{
    padding-left: 40px;
    list-style-type: disc !important;
    li{
      list-style-type: circle;
    }
  }
}

blockquote{
  border-left: 5px solid #2196F3;
}

