<footer>
  <ul class="icons">
    {% if site.owner.twitter %}
      <li><a href="http://twitter.com/{{ site.owner.twitter }}" class="fa-twitter">Twitter</a></li>
    {% endif %}
    {% if site.owner.facebook %}
      <li><a href="http://facebook.com/{{ site.owner.facebook }}" class="fa-facebook">Facebook</a></li>
    {% endif %}
    {% if site.owner.instagram %}
      <li><a href="http://instagram.com/{{ site.owner.instagram }}" class="fa-instagram">Instagram</a></li>
    {% endif %}
    {% if site.owner.google_plus %}
      <li><a href="https://google.com/{{ site.owner.google_plus }}" class="fa-google-plus">Google Plus</a></li>
    {% endif %}
    {% if site.owner.linkedin %}
      <li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" class="fa-linkedin">LinkedIn</a></li>
    {% endif %}
    {% if site.owner.github %}
      <li><a href="http://github.com/{{ site.owner.github }}" class="fa-github">Github</a></li>
    {% endif %}
  </ul>
</footer>