{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<div class="hover:-translate-y-2 transition" style="width: 10rem; height: 8rem;">
  <a href="{{ .context.Permalink }}">
    {{ if $image.exists }}
    <div class="article-image opacity-40 dark:opacity-50">
      {{ if $image.resource }}
      {{- $imageRaw := $image.resource | resources.Fingerprint "md5" -}}
      {{- $thumbnail := $imageRaw.Fill .size -}}

      <img class="rounded-md" src="{{ $thumbnail.RelPermalink }}" width="{{ $thumbnail.Width }}"
        height="{{ $thumbnail.Height }}" loading="lazy" data-key="{{ .context.Slug }}"
        data-hash="{{ $imageRaw.Data.Integrity }}">
      {{ else }}
      <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}"
        data-hash="{{ $image.permalink }}" />
      {{ end }}
    </div>
    {{ end }}

    <div class="relative bottom-12 ml-4">
      <h2 class="h3 font-aspekta article-title text-slate-700 dark:text-slate-200">
        {{- .context.Title -}}
      </h2>
    </div>
  </a>
</div>