<footer class="border-t border-slate-200 dark:border-slate-800">
    <div class="py-8">
        <div class="text-center md:flex md:items-center md:justify-between">

            <!-- Social links -->
            <ul class="inline-flex mb-4 md:order-1 md:ml-4 md:mb-0 space-x-4">
                {{ range .Site.Menus.social }}
                <li class="flex items-center">
                    <a style="width: 16px; height: 16px;"
                        class="flex justify-center items-center text-sky-500 hover:text-sky-600 transition duration-150 ease-in-out"
                        href='{{.URL | absURL }}'>
                        {{ partial "helper/icon" .Pre }}
                    </a>
                </li>
                {{ end }}
            </ul>

            <!-- Copyright -->
            <div class="text-sm text-slate-500 dark:text-slate-400">&copy; 2023 Ishmeet Grewal. All rights
                reserved.</div>

        </div>
    </div>
</footer>