<!DOCTYPE html>
<html>
  <head>
  
    {% include head.html %}
    <link rel="stylesheet" href="{{ "/css/component.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/demo.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css"  href="{{ "/css/animate.min.css" | prepend: site.baseurl  }}">
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/hammer.min.js"></script>
    
  </head>

  <body>
    <div class="container">
      {% include portfolio/header.html %}

      <div style="width: 100%; flex: 1; position: relative;">
          <div style="display: flex; flex-direction: column; height: 88%; width: 100%; position: absolute; justify-content: center;">
              <section class="slider" id="main_slider">
                  {% for post in site.posts %}
                  <div class="slide" data-content="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.permalink }}{% endif %}">
                      <div class="slide__mover">
                          <div class="zoomer flex-center">
                              <img class="zoomer__image" src="/images/{{ post.device }}.png" alt="{{ post.device }}" />
                              <div class="preview">
                                  {% assign app_preview = '/images/' | append: post.name | downcase | append: '/preview.png'  %}
                                  {% if post.app_preview %}
                                      {% assign app_preview = post.app_preview %}
                                  {% endif %}
                                  <img src="{{ app_preview }}" alt="{{ post.name }}" />
                                  <div class="zoomer__area zoomer__area--size-5"></div>
                              </div>
                          </div>
                      </div>
                      <h2 class="slide__title">{{ post.name }}<span>{{ post.tagline }}</span></h2>
                  </div>
                  {% endfor %}
                <nav class="slider__nav">
                  <button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
                  <button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
                  <button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
                </nav>
              </section>
          </div>

      </div>

    </div>

    <section class="content">
    </section>

    {% if page.title == null %}
      <section class="profile">

        <div style="position: relative;z-index: 1000;" id="profile_card_parent">
          <div class="card hovercard" id="profile_card">
            <a class="bp-icon bp-icon-close" id="close_profile"><span></span></a>
            <div class="cardheader" style="background: url('{{ site.author.header_bg | prepend: site.baseurl }}') no-repeat center">

            </div>
            <div class="avatar">
                <img alt="" src="{{ site.author.avatar | prepend: base.url }}">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="{{ site.author.url }}">{{ site.author.name }}</a>
                </div>
                <div class="desc">{% include portfolio/profile_description.md %}</div>
            </div>
            <div class="bottom">
                <a class="btn btn-primary btn-twitter btn-sm" href="mailto:{{ site.author.email }}">
                    Contact me
                </a>
            </div>
          </div>
        </div>

      </section>
    {% endif %}




    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/dynamics.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>